
<div class="text-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="table-container">
  <h3>Posts Table</h3>
  <table *ngIf="!loading && dataArray.length > 0; else elseBlock">
    <tr>
      <th>{{ 'User Id' | uppercase }}</th>
      <th>{{ 'Id' | uppercase}}</th>
      <th>{{ 'Title' | uppercase }}</th>
    </tr>
    <tr *ngFor="let data of dataArray | paginate: {itemsPerPage: 10, currentPage: p}">
      <td>{{data.userId}}</td>
      <td>{{data.id}}</td>
      <td>{{data.title | splitString}}</td>
    </tr>
  </table>

<ng-template #elseBlock>
  <p>No data available</p>
</ng-template>
<ng-container *ngIf="!loading && (!dataArray || dataArray.length === 0)">
  <h3 style="color:red">Some error occurred</h3>
  <p>{{error}}</p>
</ng-container>
<pagination-controls (pageChange)="p = $event" class="float-right mt-5"></pagination-controls>
</div>